@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dad8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: linear-gradient(#0B2F6A, #134BB1);
    border-radius: 8px;
    padding: 30px;
}